.contactList-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 70vh;
    margin-top:80px;
  }
  
  .contactList-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .contactList-table-container {
    margin-top: 10px;
    overflow-x: auto;
  }
  
  .contactList-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contactList-table th,
  .contactList-table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .contactList-table th {
    background-color: var(--bg-secondary);
    color: #fff;
  }
  
  .contactList-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .loading-message {
    font-size: 18px;
    color: #555;
  }
  
  @media (max-width: 768px) {
    .contactList-table {
      font-size: 14px;
    }
  
    .contactList-table th,
    .contactList-table td {
      padding: 8px;
    }
  
    .contactList-table th {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .contactList-title {
      font-size: 20px;
    }
  
    .contactList-table th,
    .contactList-table td {
      padding: 6px;
    }
  
    .contactList-table th {
      font-size: 14px;
    }
  }

.action-icon {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  border: none;
  background: transparent;
}

.delete-icon {
  color: #f7364a;
}

.delete-icon:hover {
  background-color: rgba(220, 53, 69, 0.1);
  color: #f3253a;
}
